services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/app/data
    networks:
      - ai_network

volumes:
  ollama_data:

networks:
  ai_network:
    external: true
